
.row

  img:first-of-type
    width: 20px;
    height: 20px;
  img
    margin-right: 3px;
    width: 10px;
    height: 10px;

.con
  display: flex;
  flex-direction: row;
  img:first-of-type
    width: 300px;
    height: 200px;
  img
    margin-right: 3px;
    width: 10px;
    height: 10px;

.header-body-left
  height: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;


  img:first-of-type
    width: 20px;
    height: 20px;

  input
    //width: 80%;
    height: 30px;

  .header-body-leftt, .header-body-rightt
    margin-top: 20%;

  .header-body-leftt
    input
      width: 67%;

  .header-body-rightt
    display: flex;
    width: 100%;
    .header-text-up, .header-text-call
      width: 25%;
      height: 20%;


aside
  margin-left: 15%;
  header
    width: 320px;
  .leaders-elem
    width: 100px;

.main
  display: flex;

  img.leaders-elem
    width: 200px;
    height: 200px;
  img.slider
    width: 700px;
    heigth: 600px;
  span
    float: right;

  .body-body-brand
    margin: 5px;



.shares
  span
    float: right;


.centered
  text-align: center;
  div.sh
    display: flex;
    flex-direction: row;
    img
      width: 100px;
      height: 100px;
      margin-left: 10%;
    a
      display: flex;
      flex-direction: column;
.right
  text-align: right;
.flex
  display: flex;
body-header-footer
  float: left;
.all-a
  float: right;

footer.fo
  background-color: #f1d1ff;
  margin-top: 10px;
  img
    width: 200px;
