-var pc = ["Нетбуки и ноутбуки","Стацыонарные ПК","Сканеры","Принтеры","Планшеты","Веб-камеры","Электронныые книги","Графические планшеты","Носители информацыи","Переферия","ИБП","Процессоры","Видеокарты","Звуковые карты","Материнские карты","Виртуальняа реальность","Обучающие материалы","Обучающие материалы"];
//-var elem = "HP Pavilon 15-n028sr(F2U11EA)";
div.container
  aside.col-lg-10
    header Каталог товаров
      div.col-lg-3 Компьютерная техника
        for names in pc
          div.elem= names
        //  hr
    footer.col-lg-10
      div.col-lg-12 Лидеры продаж
        div HP Pavilon 15-n028sr(F2U11EA)
          img.leaders-elem(src="../../img/hp.jpg")
          button Купить
        div.leaders-elem HP Pavilon 15-n028sr(F2U11EA)
          img.leaders-elem(src="../../img/hp.jpg")
          button Купить
