doctype html
html
  head
    link(rel="stylesheet" href="css/main.css")
    script(src="js/libs/jquery-3.2.1.min.js")
    script(src="js/main.js")
  body
    span.under underline
    span.over overline
    span.th line-through
    p#text Text-decoration:

    div.mag
      div.img
        img(src="css/img/sea.jpg" id="sea")
        p This is magic text

        form(name="form" id="form" action="php/main.php" method="post")
          label(for="name") Insert name
          input(type="text" name="name" id="name" placeholder="name")
          label(for="email") Insert email
          input(type="email" name="email" id="email" placeholder="email")
          button(type="submit" ) Send
      div.er
      div.suc
    div.task
      section
        header
          span.i.
            Латин, як цар, в своїм наряді
          div.lin1
          span.ii.
            ішов в кругу своїх вельмож
          div.lin2
          span.iii.
            котрі всі були в параді
          div.lin3
          span.iiii.
            надувшись всякий з них, як морж.
          div.lin4
        span.time 1984
      div.main
        div.left
          img#kukla(src="css/img/kukla.jpg")
          img.ft(src="css/img/metro.png")
          img.ft(src="css/img/teatr.png")
          span.ft Lorem ipsum dolor sit amet,
          span.ft consectetur adipisicing elit, sed do eiusmod tempor

        div.right
          p
            strong Ляльковий театр
          div.desc            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          div.fot
            span.fa Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            img(src="css/img/enej.png")
